body {
  background: url('../assets/background.png');
  background-repeat: repeat;
}
.loading {
  margin-bottom: 40px;
}
.sad-mac {
  max-height: 150px;
  margin: 0 auto;
}

.loading {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 20%;
}

.now-playing-text {
  text-decoration: none;
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
  i {
    margin-right: 8px;
  }
}

.now-playing {
  color: tomato;
}
.gold {
  background-color: gold !important;
}
.silver {
  background-color: silver !important;
}
.bronze {
  background-color:  #cd7f32 !important;
}
.leaderboard {
  color: white !important;
  border-radius: 50%;
}
@media (min-width: 750px) {
  padding-left: 1px;
}
