body {
  background: url('../assets/background.png');
  background-repeat: repeat;
}
.loading {
  margin-bottom: 40px;
}
.sad-mac {
  max-height: 150px;
  margin: 0 auto;
}

.loading {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 20%;
}

.now-playing-text {
  white-space: nowrap;
  word-wrap: break-word;
  text-overflow: ellipsis;
  text-decoration: none;
  color: black;
  font-size: 16px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

i.carousel-icon {
  margin-right: 8px;
}

.now-playing {
  color: tomato;
}
.gold {
  background-color: gold !important;
}
.silver {
  background-color: silver !important;
}
.bronze {
  background-color:  #cd7f32 !important;
}
.leaderboard {
  color: white !important;
  border-radius: 50%;
}
.recently-played-expand {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.recently-played-expand-album {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (min-width: 750px) {
  padding-left: 1px;
}
@media (max-width: 450px) {
  .brand-logo {
    font-size: 16px !important;
  }
}
